<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{setBootstrapCss}}">
    <script type="text/javascript" src="{{setBootstrapJs}}">
    </script>
</head>